*{
    position:relative;
}
body{
background-image: url(../img/topography/topography.png);
}
h1{
    font-family: 'Press Start 2P', cursive;
}

/* Classes */

.calculator{
    display: none;
    margin: 0 auto;
}

/* ID's */

#wrapper{
    width: 75%;
    margin: 0 auto;

}