*{
    position:relative;
}
body{
background-image: url(../img/topography/topography.png);
font-family: 'Lato', sans-serif;
}
h1{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

#wrapper td:hover{
    text-shadow: black 1px 1px 3px;
}

/* Classes */

.calculator{
   
    margin: 0 auto;
}

.clicked{
display:none;
}

/* ID's */

#wrapper{
    width: 75%;
    margin: 0 auto;

}